<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Post</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
    <style>
        html, body {
            font-family: "Raleway", Arial;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            margin-top: 20px;
        }
        .post {
            max-width: 640px;
            margin: 0 auto;
        }
        .title {
            width: 100%;
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="post">
            <div class="title">
                <h1>{{post.title}}<h1>
            </div>
            <div class="content">{{post.post|safe}}</div>
        </div>
    </div>

    <script src="{% static 'js/prism.js' %}"></script>
</body>
</html>